body {
  background-color: cornsilk;
}

.authWrapper {
  min-height: 100vh;
  width: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthCard {
  width: 90%;
  max-width: 600px;
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#nav-tab .nav-link {
  flex: 1;
  text-align: center;
  border-radius: 999px;
  font-weight: 500;
  border: none;
}
